data/*
!data/plot_learningcurve.py
!data/plot_window.py

tmp/
weights/
python/Utility/__pycache__

python/evaluation/reconstruction/__pycache__
python/evaluation/reconstruction/rpn_mc_00.h5
python/evaluation/reconstruction/frcnn.test.config.pickle
python/evaluation/reconstruction/detector_mc_RCNN_dr=0.0.h5
python/evaluation/reconstruction/photographic_mc_arc_FCDense_Dropout_0.1_Unaugmented.h5
python/evaluation/reconstruction/predictions
python/evaluation/reconstruction/metrics
python/evaluation/reconstruction/tmp_pic.png

python/evaluation/track_detection/examples_private

python/rpn_mc_train

python/*/logs
python/*/*.pickle
python/*/*/*.pickle

python/*/*/*.h5
python/*/__pycache__
tracks/

python/evaluation/track_detection/rpn/rpn_mc_00.h5
python/evaluation/track_detection/rpn/detector_mc_RCNN_dr=0.0.h5
python/evaluation/track_detection/rpn/frcnn.test.config.pickle

python/evaluation/track_detection/detector/frcnn.test.config.pickle
python/evaluation/track_detection/detector/detector_mc_RCNN_dr=0.0.h5
python/evaluation/track_detection/detector/rpn_mc_00.h5


python/evaluation/track_detection/combined/.ipynb_checkpoints
python/evaluation/track_detection/combined/iou_diagnosis.ipynb
python/evaluation/track_detection/combined/gt
python/evaluation/track_detection/combined/preds
python/evaluation/track_detection/combined/__pycache__
python/evaluation/track_detection/combined/predictions
python/evaluation/track_detection/combined/performances
python/evaluation/track_detection/combined/frcnn.test.config.pickle
python/evaluation/track_detection/combined/rpn_mc_00.h5
python/evaluation/track_detection/combined/detector_mc_RCNN_dr=0.0.h5
python/evaluation/track_detection/combined/rpn+detector_cls_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.4_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.5_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.6_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms_prediction.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms_result.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.4_result.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.5_result.csv
python/evaluation/track_detection/combined/rpn+detector_cls+nms@0.6_result.csv

python/evaluation/track_extraction/extractor.test.config.pickle
python/evaluation/track_extraction/extractor_perfect_misalignment.test.config.pickle
python/evaluation/track_extraction/images
python/evaluation/track_extraction/photographic_mc_arc_FCDense_Dropout_0.1_Unaugmented.h5


python/frcnn_mc_train/frcnn.train.config.pickle
python/frcnn_mc_train/__pycache__
python/frcnn_mc_train/logs


python/frcnn_mc_ResNet08_train/__pycache__
python/frcnn_mc_ResNet08_train/frcnn.train.config.pickle

python/frcnn_mc_train_v3

python/frcnn_mc_RPN_only_train/__pycache__
python/frcnn_mc_RPN_only_train/frcnn.train.config.pickle

python/frcnn_mc_GridSearchImprove_train/__pycache__
python/frcnn_mc_GridSearchImprove_train/frcnn.train.config.pickle

python/RD/

python/frcnn_train/frcnn.train.config.pickle
python/photographic_mc_morphology/photographic.train.config.pickle
python/photographic_mc_morphology/logs/
python/photographic_mc_small/photographic.train.config.pickle
python/photographic_mc_U_Net/photographic.train.config.pickle
python/photographic_mc_U_Net_like/photographic.train.config.pickle
python/photographic_mc_U_ResNet/photographic.train.config.pickle
python/photographic_mc_overfitting/photographic.train.config.pickle

python/photographic_mc_zEncoded/photographic.train.config.pickle
python/photographic_mc_zEncoded/logs
python/photographic_mc_tEncoded/photographic.train.config.pickle

python/photographic_mc_FCDenseNet/__pycache__
python/photographic_mc_FCDenseNet/logs/
python/photographic_mc_FCDenseNet/photographic.train.config.pickle

python/photographic_mc_FCDenseNet_largeKernel/__pycache__
python/photographic_mc_FCDenseNet_largeKernel/logs/
python/photographic_mc_FCDenseNet_largeKernel/photographic.train.config.pickle

python/photographic_mc_FCDenseNet_channelByPlane/__pycache__
python/photographic_mc_FCDenseNet_channelByPlane/logs/
python/photographic_mc_FCDenseNet_channelByPlane/photographic.train.config.pickle


python/Utility/Test_HitGenerators.py

html/
latex/
